.copy2 {
    position:absolute; 
    top:2%; 
    height:10em; 
    margin-top:-5em; 
    width:100%;
}

.copy2 p{
    text-align: left;
    width: 50%;
    line-height:30px;
    margin: 0 auto;
    margin-right: 10%;
}

.copy2 img{
    float: left;
    display: inline;
    width: 8%;
}
.copy2 iframe{
    float: left;
	display: inline;
	margin-left: 40px;
}

.cross{
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
    margin-top: 100px;
}
