legend,
label[for="mensagem"] {
    font-weight: bold;
    margin-top: 1em;
    
}
label[for],
button {
    display: block;
}
input[type="text"],
input[type="email"],
textarea {
    font-family: inherit;
    font-size: 100%;
    padding: .25em .5em;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-left: 5px;
}
button {
    border: 0;
    padding: .5em 1em;
    font-family: 'Sulphur Point', sans-serif;
    background-color: #3C1D3D;
    color: white;
    font-size: 1.2em;
    margin-left: auto;
    margin-top: 1em;
    box-shadow: 0 10px 10px -5px;
}
button:hover{
    background: rgb(97, 43, 98);
}
input:invalid {
    box-shadow: 0 0 3px red;
}
input:focus,
textarea:focus {
    background-color: #FFD;
}
button:focus {
    background-color: #8C1D3D;
}
input[value="Outro"] + input {
    display: none;
}
input[value="Outro"]:checked + input {
    display: block;
}
.com-icone {
    position: relative;
    margin-bottom: 1.5px;
}
.com-icone::after {
    content: '';
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: #8C1D3D;
    background-size: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    top: 100%;
    border-radius: 50%;
}
.com-icone + input {
    width: calc(100% - 2em);
    position: relative;
    left: 2em;
    margin-top: 0;
}
.com-icone[for="nome"]::after {
    background-image: url(../imagens/usuario.png);
}
.com-icone[for="email"]::after {
    background-image: url(../imagens/email.png);
}
