body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}
header {
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.4);
    min-height: 90px;
}

.titulo-principal {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 3px solid black;
	font-size: 300%;
	text-transform: uppercase;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
	background-image: linear-gradient(to bottom, #973c61, #851944);
	position: relative;
}

p {
	text-align: justify;
	margin: 20px 0;
}

.citacao-bio {
	background-color: #D9E5E3;
	border: .5em solid #C2CCCA;
	width: 30ch;
	box-sizing: border-box;
	margin: 1em 2em;
}
.rodape-pagina {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	font-size: 14px;
	background-color: #000;
	color: #F2FFFC;
	clear: both;
	text-align: center;
	width: 85%;
	box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.4);
	background-image: linear-gradient(to bottom, #000000 , #151616);
}

main a {
	color: #851944;
}

.citacao-bio, .rodape-pagina {
    padding: 20px;
}

.container {
	width: 720px;
	margin: auto;
	padding: 30px 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.subtitulo-texto {
	font-size: 30px;
	clear: both;
}

.icones-redes-sociais li {
	display: inline-block;
}

.artigo {
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.leia-mais {
	padding: .5em;
	margin: 1em;
	display: block;
	font-size: 1.5em;
	text-align: center;
	background-color: #E6E7E8;
}

.icones-redes-sociais a {
	width: 40px;
	height: 40px;
	display: block;
	text-indent: -99999px;
	margin-top: 20px;
}

.github {
	background-image: url(../img/github.png);
}

.twitter {
	background-image: url(../img/twitter.png);
}

.linkedin {
	background-image: url(../img/linkedin.png);
}

.fiat {
	float: right;
}

.petrobras {
	float: left;
}

main {
	float: left;
	width: 85%;
}

.navegacao-site {
	float: right;
	width: 15%;
	min-height: 100%;
	position: fixed;
	margin-left: 85%;
	text-align: center;
	background-color: #3C1D3D;
	color: #F2FFFC;
	margin-bottom: 1px;
	box-sizing: border-box;
	border-left: 3px solid black;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.5)
}
.navegacao-site h1 {
	font-size: 30px;
	margin-bottom: 25px;
	margin-top: 15px;
}
.navegacao-site a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}
nav a {
	text-align: center;
	text-transform: lowercase;
	margin-bottom: 1px;
	text-decoration: none;
	display: block;
    text-decoration: none;
    padding-reight: 20px;
    color: #333333;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
}
nav a:hover {
    background-color: rgb(117, 18, 121);
}
.icones-redes-sociais a:hover{
	text-decoration: none;  
	color:rgb(175, 31, 180);; 
	font-size:150%;
}

.minha-foto{
	width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
	border: 2px solid #FFFFFF;
	margin-top: 15px;
}

cite {
	font-style: italic;
	float: right;
}

.container-contato {
	width: 50%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 11%;
	
}
  
.form-contato {
	width: 100%;
	font-family: "Arial", Times, serif;
}
  
.form-contato-entrada {
	width: 100%;
	color: #292929;
	font-size: 18px;
	background-color: #E9E9E9;
	border: 1px solid #E9E9E9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 40px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	text-indent: 20px;
}
  
.form-contato-textarea {
	width: 100%;
	color: #292929;
	font-size: 18px;
	background-color: #E9E9E9;
	border: 1px solid #E9E9E9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 200px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	text-indent: 20px;
	padding-top: 16px;
	padding-left: 0;
	padding-right: 0;
	font-family: "Arial", Times, serif;
}
  
.form-contato-botao {
	width: 100%;
	font-size: 18px;
	border-radius: 4px;
	color: #fff;
	height: 40px;
	opacity: .8;
	margin-bottom: 20px;
	cursor: pointer;
	background: rgb(122, 18, 40);
	display: block;
	border: none;
	border-bottom: 1px solid #500707;
	border-right: 1px solid #500707;
	transition: 1s;
}
  
.form-contato-botao:hover {
	opacity: 1;
}
