footer{
	position: relative;
	bottom: -30px;
}

.linha {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #626770, rgba(0, 0, 0, 0));
}

.footer-geral{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-geral .footer-esquerdo,
.footer-geral .footer-central,
.footer-geral .footer-direito{
	display: inline-block;
	vertical-align: top;
}
 
.footer-geral .footer-esquerdo{
	width: 40%;
}
 
.footer-geral img{
    margin-top: 30px;
	display: inline-block;
	width: 180px;
}
 
.footer-geral h3 span{
	color:  #626770;
}
 
 
.footer-geral .footer-links{
    color:  #ffffff;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 12px;
	padding: 0;
}
 
.footer-geral .footer-links a{
    display:block;
    margin-bottom: 10px;
    margin-left: 30px;
	line-height: 1.8;
	text-decoration: none;
    color:  inherit;
}
 
.footer-geral .footer-nome{
	color:  #8f9296;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}
 
 
.footer-geral .footer-central{
	width: 35%;
}
 
.footer-geral .footer-central i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-geral .footer-central i.email{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-geral .footer-central p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-geral .footer-central p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-geral .footer-central p a{
	color:  #626770;
	text-decoration: none;;
}
 
.footer-geral .footer-direito{
	width: 20%;
}
 
.footer-geral .footer-sobre{
	line-height: 20px;
	color:  #92999f;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
.footer-geral .footer-sobre span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-geral .footer-icones{
	margin-top: 25px;
}
 
.footer-geral .footer-icones a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-geral{
		font: bold 14px 'Sulphur Point', sans-serif;
	
	}
 
	.footer-geral .footer-esquerdo,
	.footer-geral .footer-central,
	.footer-geral .footer-direito{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-geral .footer-central i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}